<div class="div" >
<h1 class="posistiontitre">Booster votre boutique</h1>

<form class="posistion">
    <div class="form-group">
      <label for="boutiquenom">titre de la publication</label>
      <input type="text" class="form-control" id="Nom_Pub" aria-describedby="boutiquenom" name ="Nom_Pub" placeholder="titre de la publication"
      [(ngModel)]="publicite.Nom_Pub">
    </div>
    <div class="form-group">
      <label for="description">Message publicitaire</label>
      <input type="textarea " class="form-control" name="Desc_Pub" aria-describedby="description" 
      placeholder="votre message publicitaire "[(ngModel)]="publicite.Desc_Pub">
    </div>
    <div class="form-group">
      <label for="localisation">Zone de la publication</label>
      <select class="custom-select" name="zone" [(ngModel)]="publicite.zone">
        <option selected>Zone</option>
        <option value="1">Ariana</option>
        <option value="2">Tunis</option>
        <option value="3">Ben Arousse</option>
      </select>
      </div>
        <div class="form-group">
          <label for="categorie">Periorité</label>
          <select class="custom-select"name="periorite" [(ngModel)]="publicite.periorite">
            <option value="high">high</option>
            <option value="medium">medium</option>
            <option value="low">low</option>
          </select>
          </div>

        <div class="form-group">

            <label for="logo">Affiche de publicite</label>
        <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input"name="image"id="inputGroupFile01"[(ngModel)]="publicite.image">
              <label class="custom-file-label" for="inputGroupFile01">Affiche de publicite</label>
            </div>
          </div> 
        </div>
        <div class="form-group">
          <label for="Datedebut">Date debut </label>
          <input type="date" class="form-control" name="Date_debut" aria-describedby="boutiquenom" placeholder="Nom de la boutique"
          [(ngModel)]="publicite.Date_debut">
        </div>
        <div class="form-group">
          <label for="Datefin">date fin</label>
          <input type="date" class="form-control" name="Date_fin" aria-describedby="boutiquenom" placeholder="Nom de la boutique"
          [(ngModel)]="publicite.Date_fin">
        </div>
    
    <button type=" w-100 submit" class="btn btn-primary"(click)="addpublicite(publicite)">valider</button>
  </form>
</div>
  