<h1 class="posistiontitre">Booster votre boutique</h1>

<form class="posistion">
    <div class="form-group">
      <label for="boutiquenom">Nom de la boutique</label>
      <input type="text" class="form-control" id="boutiquenom" aria-describedby="boutiquenom" placeholder="Nom de la boutique">
    
    </div>
    <div class="form-group">
      <label for="localisation">Zone</label>
      <select class="custom-select">
        <option selected>Zone</option>
        <option value="1">Ariana</option>
        <option value="2">Tunis</option>
        <option value="3">Ben Arousse</option>
      </select>
      </div>
        <div class="form-group">
          <label for="categorie">Periorité</label>
          <select class="custom-select">
            <option value="1">high</option>
            <option value="2">medium</option>
            <option value="3">low</option>
          </select>
          </div>

        <div class="form-group">

            <label for="logo">Affiche de publicite</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">importer</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01">
              <label class="custom-file-label" for="inputGroupFile01">Affiche de publicite</label>
            </div>
          </div> 
        </div>
        <div class="form-group">
          <label for="Datedebut">Date debut </label>
          <input type="date" class="form-control" id="boutiquenom" aria-describedby="boutiquenom" placeholder="Nom de la boutique">
        </div>
        <div class="form-group">
          <label for="Datefin">date fin</label>
          <input type="date" class="form-control" id="boutiquenom" aria-describedby="boutiquenom" placeholder="Nom de la boutique">
        </div>
    
    <button type=" w-100 submit" class="btn btn-primary">valider</button>
  </form>
  