    
<div class="divb">
<h1 class="posistiontitre">Modifier boutique</h1>

<form class="posistion">
    <div class="form-group">
      <label for="boutiquenom">Nom de la boutique</label>
      <input type="text" class="form-control" id="Nom_Boutique" aria-describedby="Nom_Boutique" 
      placeholder="Nom de la boutique"name="Nom_Boutique" value="{{boutique.Nom_Boutique}}" [(ngModel)]="boutique.Nom_Boutique">
    
    </div>
    <div class="form-group">
      <label for="localisation">Adresse boutique</label>
      <input type="text" class="form-control" id="localisation" placeholder="L'emplacement" name="Adresse_Boutique"
      value="{{boutique.Adresse_Boutique}}" [(ngModel)]="boutique.Adresse_Boutique" >
    </div>

    

    <div class="form-group">
        <label for="categorie">Choisir categorie</label>
        <select class="custom-select" [(ngModel)]="boutique.Domain_Boutique" name="Domain_Boutique" >
          <option selected>{{boutique.Domain_Boutique}}</option>
          <option value="sport">sport</option>
          <option value="automobile">automobile</option>
          <option value="informatique">informatique</option>
        </select>
        </div>

    
        <div class="form-group">
          <label for="contactboutique">Contact boutique</label>
          <input type="number" class="form-control" id="contactboutique" aria-describedby="contact boutique" 
          placeholder="contact boutique" value="{{boutique.Contact_Boutique}}" 
          [(ngModel)]="boutique.Contact_Boutique"
          name="Contact_Boutique" >
        
        </div>

    
    <button type=" w-100 submit" class="btn btn-primary"(click)="onUpdate2(boutique)" >Modifier boutique</button>
  </form>
</div>