<h1 class="posistiontitre">Modification boutique</h1>

<form class="posistion">
    <div class="form-group">
      <label for="boutiquenom">Nom de la boutique</label>
      <input type="text" class="form-control" id="boutiquenom" aria-describedby="boutiquenom" placeholder="Nom de la boutique">
    
    </div>
    <div class="form-group">
      <label for="localisation">L'emplacement</label>
      <input type="text" class="form-control" id="localisation" placeholder="L'emplacement">
    </div>

    
    

    <div class="form-group">
        <label for="categorie">Choisir categorie</label>
        <select class="custom-select">
          <option selected>Choisir categorie</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        </div>

        <div class="form-group">

            <label for="logo">Market LOGO</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Upload</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01">
              <label class="custom-file-label" for="inputGroupFile01">Votre logo</label>
            </div>
          </div>
        </div>

    
    <button type=" w-100 submit" class="btn btn-primary">Cree votre boutique</button>
  </form>