
    <div class="row no-gutters">
        <div class="sidebar">
            <ul>
        <li>
  <a [routerLink]='[{ outlets: { thirdRouter : ["mesproduits"] } }]'>Gestions boutiques</a>
        </li>
        <li>
            <a [routerLink]='[{ outlets: { thirdRouter : ["mespublicite"] } }]'>Gestions des publicités</a>
        </li>

        <!-- 
        <li>
            <a [routerLink]='[{ outlets: { thirdRouter : ["ajoutproduit"] } }]'>Ajouter produit</a>
        </li>

        -->
    </ul>
    </div>
    
</div>

   
              
        