
<div class="row col-12"  >



  <div *ngFor="let p of pubs " >
    <div  *ngIf="p.periorite=='high' && p.statut=='valide'">
  <div class="cards">
    <article class="card">
        <header>
            <h2>{{p.Nom_Pub}}</h2>
        </header>    
        <img src="https://scontent.ftun10-1.fna.fbcdn.net/v/t1.6435-9/49319531_375500883200322_1894229806174699520_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=973b4a&_nc_ohc=UKENTgMViHgAX9fSSvQ&_nc_ht=scontent.ftun10-1.fna&oh=00_AT-oNmeCRrJPFqCiZhTj2yyXqgGJQi44Q97suJbao9Sc0g&oe=62F8EFFD" alt="Card image cap">
        <div class="content">
            <p> {{p.Desc_Pub}} </p>
        </div>
            
    </article>
            
     
            
  </div>
  </div>
  </div></div>

<section class="pt-5 pb-5">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
</div>
  
    
    <div class="row" >

      <!--Foreach data-->
      
        <div class="col-4" *ngFor="let boutique of Boutiques  | filter:searchText" >
        
            <div class="card  h-100 border-light  bg-light shadow"  >
                <div class="card-body ">
                  <img src="https://img.freepik.com/vecteurs-libre/vintage-boutique-logo_1057-438.jpg?w=740&t=st=1658685980~exp=1658686580~hmac=4468b8384e73183adc2fa0c082da75f94d39bab28209986310785964a1048764"class="card-img-top" alt="...">

                    <blockquote class="blockquote mb-4 pb-2">

                        <p class="mb-0 font-weight-bold">Nom Boutique: 
                            {{boutique.Nom_Boutique}} </p>
                      
                        
                    </blockquote>
                    <p class="card-text mb-3">Adresse :{{boutique.Adresse_Boutique}} </p>
                    <p class="card-text mb-3">Catégorier :{{boutique.Domain_Boutique}}  </p>
                    <p class="card-text mb-3">cantact:{{boutique.Contact_Boutique}}  </p>
                
                    <div class="w-100 pb-1">
                        <div class="d-flex align-items">
                          <a [routerLink]="['/client/',{ outlets: { secondRouter: 'produitboutique/'+boutique._id,aux: null} }]">
                                details </a> 
                                
                              <div class="meta-item ml-10 boutiquess">{{boutique.Nbre_Abonnees}}

                                  <button class="btn btn-sm btn-outline-danger " (click)=" onUpdate(boutique)">
                              s'abonner 
                                  </button>
                           
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
   
</section>
